In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, date
%matplotlib inline

In [2]:
raw_df = pd.read_csv("data.csv")

### Exploratory Data Analysis

In [3]:
# View data
raw_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [4]:
raw_df.describe().round(3)

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,State_ID,Employee_code_ID,...,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,loan_default
count,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,...,233154.000,2.331540e+05,2.331540e+05,2.331540e+05,2.331540e+05,233154.000,233154.000,233154.000,233154.000,233154.000
mean,535917.573,54356.994,75865.068,74.747,72.936,19638.635,69.028,3396.880,7.262,1549.477,...,0.007,5.427793e+03,7.295923e+03,7.179998e+03,1.310548e+04,323.268,0.382,0.097,0.207,0.217
std,68315.694,12971.314,18944.781,11.457,69.835,3491.950,22.141,2238.148,4.482,975.261,...,0.111,1.702370e+05,1.831560e+05,1.825925e+05,1.513679e+05,15553.691,0.955,0.384,0.706,0.412
min,417428.000,13320.000,37000.000,10.030,1.000,10524.000,45.000,1.000,1.000,1.000,...,0.000,-5.746470e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000
25%,476786.250,47145.000,65717.000,68.880,14.000,16535.000,48.000,1511.000,4.000,713.000,...,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000
50%,535978.500,53803.000,70946.000,76.800,61.000,20333.000,86.000,2970.000,6.000,1451.000,...,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000
75%,595039.750,60413.000,79201.750,83.670,130.000,23000.000,86.000,5677.000,10.000,2362.000,...,0.000,0.000000e+00,0.000000e+00,0.000000e+00,1.999000e+03,0.000,0.000,0.000,0.000,0.000
max,671084.000,990572.000,1628992.000,95.000,261.000,24803.000,156.000,7345.000,22.000,3795.000,...,8.000,3.603285e+07,3.000000e+07,3.000000e+07,2.564281e+07,4170901.000,35.000,20.000,36.000,1.000

In [5]:
raw_df.dtypes.sort_values(ascending=True)

UniqueID                                 int64
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
SEC.NO.OF.ACCTS                          int64
NO.OF_INQUIRIES                          int64
SEC.ACTIVE.ACCTS                         int64
SEC.CURRENT.BALANCE                      int64
SEC.SANCTIONED.AMOUNT                    int64
SEC.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
SEC.INSTAL.AMT                           int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
SEC.OVERDUE.ACCTS                        int64
PERFORM_CNS.SCORE                        int64
loan_default                             int64
Driving_flag                             int64
disbursed_amount                         int64
asset_cost                               int64
branch_id                                int64
supplier_id                              int64
manufacturer_id                          int64
Passport_flag                            int64
Current_pincode_ID                       int64
State_ID                                 int64
Employee_code_ID                         int64
MobileNo_Avl_Flag                        int64
Aadhar_flag                              int64
PAN_flag                                 int64
VoterID_flag                             int64
ltv                                    float64
Employment.Type                         object
Date.of.Birth                           object
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
DisbursalDate                           object
PERFORM_CNS.SCORE.DESCRIPTION           object
dtype: object

In [6]:
loan = raw_df.loan_default.value_counts().to_frame().rename(columns={"loan_default":"absolute"})
loan["percent"] = (loan.apply(lambda x: x/x.sum()*100).round(2))
display(loan)

   absolute  percent
0    182543    78.29
1     50611    21.71

Notice that the data is highly unbalanced and thus we will need to balance the data before it is fitted on to the model.

In [7]:
# Check for missing values
raw_df.isnull().sum().to_frame().rename(columns={0:"Missing Values"})

                                     Missing Values
UniqueID                                          0
disbursed_amount                                  0
asset_cost                                        0
ltv                                               0
branch_id                                         0
supplier_id                                       0
manufacturer_id                                   0
Current_pincode_ID                                0
Date.of.Birth                                     0
Employment.Type                                7661
DisbursalDate                                     0
State_ID                                          0
Employee_code_ID                                  0
MobileNo_Avl_Flag                                 0
Aadhar_flag                                       0
PAN_flag                                          0
VoterID_flag                                      0
Driving_flag                                      0
Passport_flag                                     0
PERFORM_CNS.SCORE                                 0
PERFORM_CNS.SCORE.DESCRIPTION                     0
PRI.NO.OF.ACCTS                                   0
PRI.ACTIVE.ACCTS                                  0
PRI.OVERDUE.ACCTS                                 0
PRI.CURRENT.BALANCE                               0
PRI.SANCTIONED.AMOUNT                             0
PRI.DISBURSED.AMOUNT                              0
SEC.NO.OF.ACCTS                                   0
SEC.ACTIVE.ACCTS                                  0
SEC.OVERDUE.ACCTS                                 0
SEC.CURRENT.BALANCE                               0
SEC.SANCTIONED.AMOUNT                             0
SEC.DISBURSED.AMOUNT                              0
PRIMARY.INSTAL.AMT                                0
SEC.INSTAL.AMT                                    0
NEW.ACCTS.IN.LAST.SIX.MONTHS                      0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS               0
AVERAGE.ACCT.AGE                                  0
CREDIT.HISTORY.LENGTH                             0
NO.OF_INQUIRIES                                   0
loan_default                                      0

### Data pre-processing

In [8]:
# Conver year, months to year float
def convert_years_months_to_float(yearmonth):
    split_per = yearmonth.split(' ')
    years = split_per[0][:-3]
    months = split_per[1][:-3]
    return int(years) + int(months)/12

raw_df['AVERAGE_ACCT_AGE'] = raw_df['AVERAGE.ACCT.AGE'].apply(convert_years_months_to_float)
raw_df = raw_df.drop('AVERAGE.ACCT.AGE',axis=1)

raw_df['CREDIT_HISTORY_LENGTH'] = raw_df['CREDIT.HISTORY.LENGTH'].apply(convert_years_months_to_float)
raw_df = raw_df.drop('CREDIT.HISTORY.LENGTH',axis=1)

In [9]:
# Get age from DOB and drop DOB. We are likely to get more insights from age as compared to DOB.
def calculateAge(birthDate):
    birthDate = datetime.strptime(birthDate, "%d-%m-%y").date()
    today = date.today()
    age = today.year - birthDate.year - ((today.month, today.day) < (birthDate.month, birthDate.day))
    return age
raw_df['Age'] = raw_df['Date.of.Birth'].apply(calculateAge)
raw_df = raw_df.drop('Date.of.Birth',axis=1)

We have observed that Employment type has missing values. We need to handle that.

In [10]:
raw_df['Employment.Type'] = raw_df['Employment.Type'].fillna("Missing")

In [11]:
# Notice that MobileNo_Avl_Flag contains the same value all through
raw_df.MobileNo_Avl_Flag.value_counts()

1    233154
Name: MobileNo_Avl_Flag, dtype: int64

In [12]:
# # Normalize outliers
# from numpy import mean, std
# def impute_outlier(val):
#     data_mean, data_std = mean(raw_df[val]), std(raw_df[val])
#     cut_off = data_std * 3
#     lower, upper = data_mean - cut_off, data_mean + cut_off
#     if val <= lower:
#         return(data_mean)
#     elif x>= (upper):
#         return(data_mean)
#     else:
#         return(x)
# raw_df["DISBURSED_AMOUNT_new"]= raw_df["disbursed_amount"].apply(impute_outlier)
# # print("No. of observations in column: ",len(train.DISBURSED_AMOUNT_new))

In [13]:
#Correlation Matrix calculation
corr_mat = raw_df.corr()
corr_mat['loan_default'].sort_values(ascending = False)

loan_default                           1.000000
ltv                                    0.098208
disbursed_amount                       0.077675
State_ID                               0.048075
VoterID_flag                           0.043747
NO.OF_INQUIRIES                        0.043678
PRI.OVERDUE.ACCTS                      0.040872
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    0.034462
UniqueID                               0.033848
branch_id                              0.030193
Current_pincode_ID                     0.028419
supplier_id                            0.027357
Employee_code_ID                       0.020657
asset_cost                             0.014261
Age                                    0.006647
PAN_flag                               0.002046
SEC.OVERDUE.ACCTS                     -0.001371
SEC.INSTAL.AMT                        -0.001548
SEC.CURRENT.BALANCE                   -0.005531
Driving_flag                          -0.005821
SEC.ACTIVE.ACCTS                      -0.005993
SEC.DISBURSED.AMOUNT                  -0.006248
SEC.SANCTIONED.AMOUNT                 -0.006354
Passport_flag                         -0.007602
SEC.NO.OF.ACCTS                       -0.008385
PRIMARY.INSTAL.AMT                    -0.010616
PRI.DISBURSED.AMOUNT                  -0.011155
PRI.SANCTIONED.AMOUNT                 -0.011304
AVERAGE_ACCT_AGE                      -0.024781
manufacturer_id                       -0.025039
PRI.CURRENT.BALANCE                   -0.027386
NEW.ACCTS.IN.LAST.SIX.MONTHS          -0.029400
PRI.NO.OF.ACCTS                       -0.035456
PRI.ACTIVE.ACCTS                      -0.041451
Aadhar_flag                           -0.041593
CREDIT_HISTORY_LENGTH                 -0.042126
PERFORM_CNS.SCORE                     -0.057929
MobileNo_Avl_Flag                           NaN
Name: loan_default, dtype: float64

### Build Model

In [15]:
# We need to drop columns that will not help the model
# 1. The UniqueID is only an identifier.
# 2. The MobileNo_Avl_Flag contains the same value all through.
# 3. DisbursalDate: Logically, we do not expect a lot from the date a loan was disbursed.
# 4. Employee_code_ID: The employee of the organization who logged the disbursement will not help much
   # in predicting default.
# 5. SEC.OVERDUE.ACCTS: 
# 6. PERFORM_CNS.SCORE.DESCRIPTION: This is a categorical version (description) of PERFORM_CNS.SCORE. 
 # We better work with the number.
columns_to_drop = ['UniqueID','MobileNo_Avl_Flag','DisbursalDate','SEC.OVERDUE.ACCTS', 'Employee_code_ID',\
                   'PERFORM_CNS.SCORE.DESCRIPTION', 'branch_id', 'supplier_id', 'manufacturer_id', 'Current_pincode_ID']
# df=df.drop(columns=columns_to_drop)
df = raw_df

In [16]:
import h2o
from h2o.estimators.gbm import H2OGradientBoostingEstimator
from h2o.automl import H2OAutoML
h2o.init() # Start the H2O cluster (locally)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 17.0.1+12-LTS-39, mixed mode, sharing)
  Starting server from C:\Users\kgn71188\AppData\Local\Programs\Python\Python310\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\kgn71188\AppData\Local\Temp\tmpwg9dgcvy
  JVM stdout: C:\Users\kgn71188\AppData\Local\Temp\tmpwg9dgcvy\h2o_kgn71188_started_from_python.out
  JVM stderr: C:\Users\kgn71188\AppData\Local\Temp\tmpwg9dgcvy\h2o_kgn71188_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Africa/Nairobi
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.3
H2O_cluster_version_age:    1 month and 12 days
H2O_cluster_name:           H2O_from_python_kgn71188_otcy6u
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.924 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.10.0 final
--------------------------  ---------------------------------------------------------

In [ ]:
# Identify predictors and response
y = "loan_default"
x = [col for col in df.columns if col not in columns_to_drop + [y]]

In [ ]:
frame = h2o.H2OFrame(df)
frame[y] = frame[y].asfactor()
frame[y] = frame[y].relevel('1')
frame[y].levels()

In [ ]:
frame.types

In [ ]:
# frame[col] = frame[col].asfactor()

In [ ]:
train, validation = frame.split_frame(ratios=[.75], seed=2020)

In [ ]:
aml = H2OAutoML(max_runtime_secs=30*60, nfolds=5,project_name="fraud_1", seed=2020, balance_classes=True)
aml.train(y=y, x=x, training_frame=train)

In [ ]:
h2o.save_model(model=aml.leader)

In [ ]:
aml.leaderboard

In [ ]:
perf = aml.leader.model_performance(validation)
perf.F1()

In [ ]:
perf.accuracy()

In [ ]:
perf.confusion_matrix()

In [ ]:
pred = aml.leader.predict(frame)
pred['UniqueID'] = frame['UniqueID']
pred['probability'] = pred['p1']
pred = pred[['UniqueID'] + ['probability']]
pred = pred.sort(len(['UniqueID']), ascending=False)
pred

In [ ]:
# aml.leader.varimp_plot()

In [ ]:
perf.plot()